#whoVis {
    height: 360px;
    width: 300px;
    margin-top:50px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#whereAmI{
    color:black;
    text-align:right;
    float:right;
    height:150px;
    width: 300px;
    margin-right:20px;
    margin-top:10px;
    font-size: 11px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;

}

#legend{
    color:darkgrey;
    text-align:right;
    float:right;
    height:100px;
    width:300px;
    margin-right:20px;
    margin-top:10px;
    font-size: 11px;

}

#timelineVis-zoom{

    margin-top:500px;
    position:absolute;

}

#timelineVis-whole{

    margin-top:680px;
    position:absolute;

}


/*#legend:hover, #legend:focus {*/
    /*z-index: 200;*/
     /*bring to top when the mouse is over or*/
       /*when it has the focus (for keyboard navigation)*/
/*}*/
/*#legend img {*/
    /*border: none;*/

    /*-webkit-transition: all .2s;*/

    /*-webkit-transform-origin: top right;*/

    /*-moz-transform-origin: top right;*/

/*}*/
/*#legend:hover img, #legend:focus img {*/
    /*-webkit-transform: scale(2);*/
    /*-moz-transform: scale(2);*/
    /*box-shadow: 0px 5px 10px lightgrey;*/
    /*background-color: white;*/
    /*border-radius: 2px;*/
    /*border: 2px solid #c9b3a2;*/
    /*padding: 2px;*/
    /*padding-right: 5px;*/
    /*padding-left: 5px;*/
/*}*/

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    /*stroke: #000;*/
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: #142336;
    fill-opacity: .4;
    pointer-events: none;
}

/*path {
    stroke: #fff;
    fill-rule: evenodd;
}*/

.d3-tip{

    z-index: 9999;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #c9b3a2;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 300px;
}



/* spec published */
.PUB {
    fill: lightgrey;
}

.PUB.REC {
    fill: black;

}


.sunburst .root {
    fill: white;
}

.sunburst .HTML {
    fill: #145184;
}
.sunburst .Tests {
    fill: #142335;
}

.sunburst .group {
    fill: #1E3248;
}

.sunburst .spec[caniuse="0"] {
    fill: #8F9299;
}
.sunburst .spec[caniuse="1"] {
    fill: #41658C;
}
.sunburst .spec[caniuse="2"] {

    fill: #C9B3A2;
}
.sunburst .spec[caniuse="3"] {
    fill: #52a5ae;

}
.sunburst .spec[caniuse="4"] {
    fill: #6CAED7;

}

/* commit made */
.commit, .COM {
    fill: rgba(78, 78, 78, 0.38);
}

/* Pull Request closed */
.pull.closed, .test.closed, .PR_C {
    fill: rgb(91, 87, 106);
}

/* Pull Request opened */
.pull.open, .test.open, .PR_O {
    fill: #DC7A2E;
}

/* issue opened */
.issue.open, .ISS_O {
    fill: #C2384E;
}

/* issue closed */
.issue.closed, .ISS_C {
    fill: #43161D;
}

/*.categoryLine{
    stroke: darkgrey;
    stroke-width: 1;
}
*/

/* WhoVis bars */
.unselected {
    opacity: .5;
}
