.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    /*stroke: #000;*/
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: #134E84;
    fill-opacity: .5;
    pointer-events: none;
}

/*path {
    stroke: #fff;
    fill-rule: evenodd;
}*/

.d3-tip{
    background-color: lightyellow;
}

.sunburst.W3C {
    fill: white;
}

.sunburst.group {
    fill: #1E3248;
}

.sunburst.spec {
    fill: crimson;
}

.sunburst.HTML {
    fill: #145184;
}

.sunburst.Tests {
    fill: #142335;
}

/* spec published */
.PUB {
    fill: lightgrey;
}

.PUB.REC {
    fill: black;

}

/* commit made */
.commit, .COM {
    fill: #D58800;
}

/* Pull Request opened */
.pull.open, .test.open, .PR_O {
    fill: #145085;
}

/* Pull Request closed */
.pull.closed, .test.closed, .PR_C {
    fill: darkblue;
}

/* issue opened */
.issue.open, .ISS_O {
    fill: #D81839;
}

/* issue closed */
.issue.closed, .ISS_C {
    fill: #4c0814;
}

/*.categoryLine{
    stroke: darkgrey;
    stroke-width: 1;
}
*/
